@import "../../sass-variables.scss";


.card {
    border: 0.5ch solid black;
    width: 70%;
    height: 125px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    background-color: $lighter-grey;
    border-radius: 6px;
    flex-shrink: 0;
    position: relative;

    @include scrollbars;
    cursor: grab;

    .card-buttons-title {
        display: grid;
        width: 100%;
        grid-template-columns: 25% 75%;

        h5 {
            text-align: center;
            font-size: 17px;
            font-weight: 700;
            padding-right: 25%;
            word-wrap: break-word;
        }

        .card-button-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 7px;
            button {
                background-color: $orange-higlight;
                color: $white;
                border-color: transparent;
                height: 1.5rem;
                border-radius: 10px;
                width: clamp(45px, 75%, 65px);
                font-size: 12px;
                text-align: center;
                font-family: 'Prompt', sans-serif;

            }
        }
    }

    &.engineering {
        border-color: rgb(223, 220, 48);
    }

    &.management {
        border-color: rgb(219, 23, 23);
    }

    &.other {
        border-color: rgb(231, 231, 231);
    }


    .card-description {
        margin: 1rem;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        word-wrap: break-word;
        width: 95%;
    }


}