@import "./sass-variables";


body {
    background-color: $background;
    font-family: 'Prompt', sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;

    .page-header{
        color: $background;
        background-color: $orange-higlight;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .add-button-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        .add-button {
            
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $orange-higlight;
            color: $white;
            font-weight: 900;
            font-size: 3rem;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 10px;
            border: none;
            cursor: pointer;


            @media screen and (max-width:991px) {
                
            }

            @media screen and (min-width:992px) {
            }

            @media screen and (min-width:1100px) {
            }

            div {
                padding-bottom: 8px;
            }


            &:active {
                background-color: #944000;
            }

            &:disabled {
                background-color: #944000
            }
        }
    }

    .board-container{
        display: flex;
        justify-content: center;
    }

    .board-container.dimmed {
        opacity: 0.5;
    }

    .page-footer{
        height: 2rem;
        width: 99%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $background;
        background-color: $orange-higlight;
        .github-link{
            height: 80%;
            img{
                height:100%;
            }
        }
    }
}